@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --media-object-fit: cover;
}

dialog {
  --media-control-background: transparent;
  --media-control-hover-background: transparent;
  --media-object-fit: contain;

  &::backdrop {
    @apply backdrop-blur-md bg-gray-900/50 transition-all transition-discrete ease-in duration-300 delay-300;
  }
}
